extends layout

block content
    a(href='/user/' + id + '/allShoes') Back
    h1 #{shoe.brand} #{shoe.model} #{shoe.colorway}
    p Size: #{shoe.size}
    form(method='POST' action='/user/' + id + '/add_notification/' + shoe.shoe_id)
        div.form-group
            label Price Threshold:&nbsp
            input#name.form-control(type='text', placeholder='$0',name='threshold')
            p
        p Notification Type:
        div.form-group
            p
            input#above.form-control(type='radio', name='type', value='Above' checked)
            label Above
            div.form-group
            input#below.form-control(type='radio', name='type', value='Below')
            label Below
        p
        button.btn.btn-primary(type='submit') Add Notification
