extends layout

block content
  h1= title
  p Welcome to #{title}

  p #[a(href="/user/1/shoes") not_a_hypebeast]
  p #[a(href="/user/2/shoes") Tragil_Scobloh]
  p #[a(href="/user/3/shoes") all_black_air_forces]
