extends layout

block content
  h1= title
  p Welcome to #{title}
  p Superuser(s):
  for admin in admins
    p #[a(href='/admin') #{admin.username}]
  p Users:
  for user in regularUsers
    p #[a(href='/user/' + user.user_id + '/shoes') #{user.username}]
